/* For the menu bar */
.MuiToolbar-root {
	flex-grow: 1;
}
.MuiButton-root {
	margin-right: 0;
}
.MuiTypography-root {
	flex-grow: 1;
}

/* For the chess board */
.MuiGrid-container {
	flex-grow: 1;
}